@keyframes sceneLoading {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.background {
  max-height: 100vh;
  height: 100vh;
  overflow: hidden;
  background-repeat: no-repeat;
  width: 100vw;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  animation: sceneLoading 1s;
}

.content {
  width: 100%;
  max-width: 100%;
  margin: 0;
}

.buttons {
  display: flex;
  justify-content: center;
}

.nickname {
  display: block;
  width: fit-content;
  background: linear-gradient(to right, #000000a6 0%, #000000a6 10%, #000000a6 50%, #000000a6 90%, #000000a6 100%);
  text-shadow: 1px 1px 4px #000000;
  margin: 0 calc(10vw + 40px);
  padding: 15px 30px;
  font-size: 24px;
  font-weight: 700;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

@media screen and (max-width: 992px) {
  .nickname {
    font-size: 18px;
    font-weight: 500;
  }
}
